 
@-webkit-viewport { width: device-width; }section .page-title-container h1.page-title
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
@charset "UTF-8";
/**
CSS Reset
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;

}
 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section 
{
    display: block;
}
ol, ul {
    list-style: none;
}
a{
  cursor: pointer;
}
a:hover{
	text-decoration:none;
   cursor: pointer;
   cursor:hand;
}
dfn, em {
  font-style: italic!important;
}
strong{
    font-weight: 700!important;
}
 
#rc-imageselect, .g-recaptcha {
  transform:scale(0.92);
  -webkit-transform:scale(0.92);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
.row.no-gap{
  margin:0;
}
.no-gap [class*="-1"],
.no-gap [class*="-6"],
.no-gap [class*="-8"],
.no-gap [class*="-3"],
.no-gap [class*="-5"],
.no-gap [class*="-9"],
.no-gap [class*="-7"],
.no-gap [class*="-2"],
.no-gap [class*="-10"],
.no-gap [class*="-4"],
.no-gap [class*="-12"]{
	padding-left:0;
    padding-right:0;
}
.row.small-gap{
  margin:0 -5px;
}
.small-gap [class*="-1"],
.small-gap [class*="-6"],
.small-gap [class*="-8"],
.small-gap [class*="-3"],
.small-gap [class*="-5"],
.small-gap [class*="-9"],
.small-gap [class*="-7"],
.small-gap [class*="-2"],
.small-gap [class*="-10"],
.small-gap [class*="-4"],
.small-gap [class*="-12"]{
  padding-left:5px;
    padding-right:5px;
}
div, p, li{
     font-size: 14px;

}
p{margin-bottom: 20px;
}
p:last-child{
  margin-bottom: 0;
}
h1, h2, h3, h4{
  font-weight: bold;
  margin-bottom: 15px;

 color: #111;
}
h1{
  font-size: 36px;
  margin:0px 0;   
}
h2,.page-title-container h1{
  font-size: 24px;
  font-weight: 300;
}
.page-title-container h1{
  margin-bottom: 10px;
  }
h1 span{
  color: #7da11e;
}
img.pright{
  float:right;
  margin:0 0 30px 30px;
}
html, body{
  height: 100%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.show-sm{
  display: none;
}
.background-message{
  background: rgba(1,1,1,0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.message{
  width:300px;

  color: #222;
  margin:200px auto 0;
  position: static;
  background: #fff;
  border-radius: 3px;
  padding:20px;
  overflow: hidden;
  text-align: center;
}
header{
/*  border-bottom: 1px solid #ccc;*/
  padding:10px 0;
  position: absolute;
  top:0;
  width: 100%;
}
header .nav.navbar-nav{
  float: right;
  padding-top: 0px;
}
header .navbar{
  margin-bottom: 0;
}
header .nav li{
  padding: 0 20px 
}
header .nav li a{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  padding:20px 0 5px 0;
  cursor: pointer;
  cursor: hand;
  display: block;

}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.catlist{
  text-align: center;
}
.catlist a.item-cat{
  border-radius: 5px;
  font-size: 12px;
  background:#ececec;
  padding: 3px 5px;
  display: inline-block;
  color: #fff
}
.item-cat.webdev{
  background:#7da11e !important;
}
.item-cat.webdes{
  background:#467cc5 !important;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
header .nav li a:hover, header .nav li.active a{
 /* border-bottom: 4px solid #7da11e;*/
  background:none;
  }
.navbar-nav>li>.dropdown-menu{
  /*border-top: 5px solid #7da11e;*/
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background: none;
  border:0;
}
header .dropdown-item {
  padding:0 !important;
}
header .dropdown-item a{
  padding:10px 10px !important;
  }
header .dropdown-item a:hover{
  border:0 !important;
}

.dropbtn {
  background-color: rgba(76, 175, 80, 0);
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}

section{
  margin-top: 30px;
}

.breadcrumb-section {
  margin-top: 5px;
}
.slide-item{
  padding:0 15px;
}
a.readmore-link{
  display: inline-block;
  color: #2789f8;

}
a.readmore-lin:hover{
  background:transparent;

}
.top5ompany-cont {
  padding-top: 30px;
}
.slick-prev:before, .slick-next:before {
    font:normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .slick-prev{
  left: -10px;
 }
 .slick-next{
   right: -10px;
 }
 .slick-prev:before {
    content: '\f053';
    
}
.slick-next:before {
    content: '\f054';
   
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.form-control{
  font-size: 12px;
}
.navbar{
  text-align:right;
}
.navbar .navbar-collapse.collapse {
  display: inline-block !important;
  vertical-align: top;
}
.mainmenu{
  margin-top: 10px;
}
.membermenu {
  display: inline-block;
  vertical-align: top;
}
.membermenu ul li{
  display: inline-block;
  background: rgba(0,0,0,0.5);
 
  margin-left: 20px;
}
.membermenu ul li:first-child{
  margin:0;
}

.membermenu ul li a{
  color: #fff;
    padding:10px  20px;
    display: block;
}
.main-banner-cont{
  background-image: url(../img/sliderimg-1.jpg);
  background-size: cover;
  margin-top:-50px;
  padding:0;
}

.main-banner-color{
   background: rgba(1,1,1,0.4);
     min-height: 500px;
}
.staticpage-banner-cont{
  margin-top:-50px;
  padding:0;
}
.staticpage-banner-color{
   background: rgba(1,1,1,0.4);
     min-height: 300px;
}
.aboutus-banner{
  background-image: url(../img/banner-aboutus.jpg);
  background-size: cover;

}
.client-mode header{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
}
.banner-caption{
  width:80%;
  text-align: center;
  margin:200px auto 0;
}
.banner-caption h1{
  font-size: 36px;
  color: #fff;
  line-height: 48px;
}
.banner-menu-container{
  margin-top: 20px;
}
.banner-menu-container ul {
  margin:0;
}
.banner-menu-container ul li{
  display: inline-block;
  padding: 0 10px;
}
.banner-menu-container a{
  padding:10px 20px; 
  color: #fff;
  font-size: 18px;
}
.banner-menu-container a:hover{
  color: #fff;
} 
.banner-menu-container .search-webdev a{
  background: #2789f8;
}
.banner-menu-container .register-webdev a{
  background: #5abed7;
}
.border{
    width: 150px;
    border-bottom: 5px solid #fff;
    margin: 20px auto 0;
}
.titleborder{
  width: 50px;
  height: 10px;
  background:#2789f8;

}
.category-item{
  margin-top: 20px;
  float: left;
  padding:10px 0px;
  border:1px solid #ececec;
  text-align: center;
  width: 284px;

}
.file-attachment a{
  font-size: 14px;
  text-align: center;
}
.file-attachment a:before{
      font-size: 5em;
      display: block;
  }
header .nav li{
  padding: 0 2px;
}
header .nav li a{
  padding:10px 10px;
}
.breadcrumb-cont ul{
  margin:0;
  padding:0;
}
.breadcrumb-cont ul li{
  list-style:none;
  display: inline-block;
  margin-right:5px;
  font-size: 12px;
}
.breadcrumb-cont ul li a:after{
  content: "\f105";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 10px;
}
.categori-list a{
  display: block;
  padding: 10px  0;
}
.icon-cat{
    display: inline-block;
    font: normal normal normal 24px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    padding: 25px;
    background: #111;
    border-radius: 50px;
    color: #fff;
}
.icon-cat.webdesign:before{
  content: "\f247";
}
.icon-cat.websystem:before{
  content: "\f121";
}
.icon-cat.webapplication:before{
  content: "\f2d0";
}
.icon-cat.digitalmarketing:before{
  content: "\f1fe";
}
.icon-cat.webdevelopment:before{
  content: "\f121";
}
.icon-cat.mobileapplication, .icon-cat.mobileapplicationdevelopment{
  padding:21px 30px;
}
.icon-cat.mobileapplicationdevelopment:before{
  content:"\f10b";
  font-size: 28px;
  
}
.category-name {
  font-size: 18px;
  font-weight: 300;
  padding-top: 10px;
}
.webdev-list .search-container{
  padding-top: 25px;
}
/*company lish*/
.lastaddcomp-item{

  border-bottom:1px solid #cccccc;
  padding: 25px 0;
}
 
.latestadded-cont{
  margin-top:15px;
}
h3.company-name{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.company-name a{
  color: #000;
  font-size: 20px;
}
.company-address{
  margin-bottom: 10px;
}
.company-info ul {
  margin:0;
  padding:0;
}
.company-info ul li{
  display: inline-block;
margin-right: 20px;
}
.sidebaritem.news-container{
  padding-top:30px;
}
.sidebaritem .news-container h2{
  font-weight: 300;
}
.sidebaritem  .news-list{
  padding-top: 20px;
}
.sidebaritem .news-item{
  position: relative;
  margin-bottom: 15px;
  border-bottom: 1px solid #f8f8f8;
  padding-bottom: 20px;
  min-height: 100px;

}
.news-content{
  margin-top: 20px;
  margin-bottom: 10px;
}
.news-content h2{
  font-size: 18px;
  font-weight: bold;
}
.news-content h3{
  font-size: 16px;
  font-weight: bold;
}
.news-content h3, .news-content h2{
  margin-bottom: 7px;
}
.logo-company-cont{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 132px;
    overflow: hidden;
}
 .logo-company-cont a{
  display: inline-block;
 }
 .logo-company-cont img{
  width: 100%;
  height: auto;
  border: 0;
 }
.sidebaritem  .news-item:last-child{
  border-bottom: 0;
}
.news-title h2 a, .vacancy-title a, .project-title a{
  color: #111
}
.sidebaritem .news-item .news-thumb{
  display: inline-block;
  width:85px;
  height: 85px;
  position: absolute;
  top:0;
  overflow: hidden;
  border-radius: 0;
}
.sidebaritem .news-item .news-thumb img{
  height: 105px;
  border:0;
  padding:0;
  border-radius: 0;
  max-width: none;
  width: auto;
  margin-left:-10px;
}
.sidebaritem  .news-item .news-title{
  display: inline-block;
  padding-left:100px;
}
.sidebaritem  .news-item .news-title h3{
  font-size: 14px;
  font-weight: 500;
  }
.sidebaritem .news-title .metadata{
  font-size: 12px;
  color: #2789f8;
}
.sidebaritem .project-info, .sidebaritem .vacancy-benefit{
  line-height: 24px;
}
.project-container, .vacancy-container {
  margin-top: 30px;
}
 .job-container{
  margin-top: 10px;
}
.sidebaritem .vacancy-title, .sidebaritem .project-title{
  font-size:18px;
  font-weight: 600;
  margin-top: 10px;
}
.sidebaritem .vacancy-content>div{
  margin-top: 6px;
}
.sidebar-btn{
  margin-top:10px;
  background: #467cc5;
  color: #fff;
}
.sidebar-btn:hover{
  background: #999;
  color: #fff; 
}
.login-button{

}
.item-file li{
  display: inline-block;
  margin-right: 5px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
     
    position: relative;
}
.login-modal .popuptitle{
    font-size: 28px;
    font-weight: 300;
}
.login-modal .modal-content {
    
    width: 320px;
    height: auto;
}
.projectdetail.modal-content {
    
    width: 500px;
    height: auto;
}
/* The Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*.otherpage header .nav li a, .otherpage header .nav li a{
 
}
.otherpage header{
  position: static;
  border-bottom: 1px solid #ccc;
  background: #111;
}*/
 
.news-container .news-list .news-item{
  margin-bottom: 20px;
}
.news-container .news-item h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
.news-container .metadata{
    font-size: 12px;
    color:#2789f8;
    margin-bottom: 10px;
  }
.news-container .news-item {
  border-bottom:1px solid #ececec;
  padding-bottom: 10px; 
}
.newsdetail-title{
margin-bottom: 10px;
}

.newsdetail-title h1{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.newsdetail-container .metadata{
  font-size: 12px;
  font-style: italic;
  color: #2789f8;
  margin-bottom: 20px;
}
.newsdetail-container ol li{
  list-style-type: decimal;
  margin-bottom: 10px;
}
.newsdetail-container ol {
  padding-left: 15px;
}
.detailnews-img img{
  width: 100%;
  max-width: none;
}
.newsdetail-container .news-content{
  margin-top: 20px;
  line-height: 21px;  
}
 
.project-item h3, .job-item h3{
  font-size: 18px;
  font-weight: 400;
}
.detailkarir-page .job-item{
  padding-top: 20px;
}
.detailproject-page .project-item{
  padding-top: 10px;
}
.detailkarir-page .job-container {
 margin-top:15px;
}
.detailkarir-page .job-container .catjob-list{
  margin-bottomutm_tag: 10px;
}
.companyjob-list .job-item{
  padding: 20px 0;
}
.button-container {
  margin-top: 10px;
  margin-bottom: 20px;
}
.button-container-project {
  margin-top: 10px;
  margin-bottom: 20px;
}
.htmlcontent ul{
 padding-left: 20px; 
}
.htmlcontent ul li{
  list-style: disc;
}
.footer-banner-cont {
  background: url(../img/footer-banner.jpg);
  background-size: cover;
  margin-top: 50px;
}
.footer-banner{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding:100px 0;
  line-height: 48px;
}
.footer-button {
  background: #2789f8;

  color: #fff;
  padding: 30px 0;
}
.footer-button *{
      font-size: 18px;
}
.footer-button a{
  padding:10px 20px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  display: block;
  text-align: center;
  border-radius: 5px;
  border:1px solid #fff;
}
.footer-menu-cont{
  background: url(../img/footer-menu.jpg);
  background-size: cover;
  padding: 30px 0;
}
.footer-menu-cont *{
  color: #fff;
}
.footer-menu-cont a:hover{
  color: #fff;
  text-decoration: underline;
}
.footer-menu-cont h3.footer-title{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer-menu-cont ul li{
  border-bottom: 1px dashed #fff;
  padding:6px 0;
}
.footer-copyright{
  padding:15px 0;
  background: #000000;
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.btn-submit{
  background: #467cc5;
  color: #fff;
}
.btn-submit:hover{
  background: #999;
  color: #fff;
}
.search-box{
  padding:0px 0;
}
.lastaddcomp-item .readmore-link{
  padding: 0;
  margin:0;
  font-style: italic;
}
.job-item .job-title h3{
  margin:0 0 7px 0;
  padding:0;
}
.job-item .job-company{
  color: #2789f8;
  margin-bottom: 7px;
}
.job-item .job-desc{
  margin-top:10px;
}
.webdev-data *{
  line-height:26px;
  font-size: 12px;
}
.webdev-data {
  
  padding-top: 10px;
} 
.project-item, .job-item{
  padding:0 0 5px;
  border:0;
  margin:0;
  border-bottom:1px solid #ccc;
  border-radius: 0;
}
.project-item h3, .job-list h3{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.project-item .project-desc{
  margin-bottom: 10px;
}
a.project-detail-link, a.job-detail-link {
  display: block;
  background: #fff;
  padding:15px 0 10px;
  color: #222;
}
a.project-detail-link:hover , a.job-detail-link:hover{
  background: #f8f8f8;
}
.job-item a.job-detail-link h3{
  margin:0;
}
.project-title-link{
  padding:20px 0 0px;
  display: block;

}
.project-item  .project-info > div{
  padding-top: 10px;
}
.project-item .project-desc {
  padding-top: 10px;
}
 .project-info div.project-company span, .project-info div.project-worth span, .project-deadline span{
  width:140px; 
  display: inline-block;
}
div.project-detail .row .col-sm-9 div{
  margin-bottom: 5px;
}
.project-desc {
  line-height: 22px;
}
.type-list li, .catjob-list li{
  display: inline-block;
  font-size: 11px;
  background:#444;
  color: #fff;
  padding:2px 3px;
  border-radius: 2px;
  line-height: normal; 
  vertical-align: top; 
}
.list-company-type.type-list li{
  background: #2789f8;
  }
.list-job-type, .list-project-type{
    padding-top:10px;
  }
.tab-content{
  margin-top: 20px;
}
.webdev-portfolio-cont .portfolio-item h4{
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
}
.wevdev-header{
  margin-bottom: 15px;
}
.webdev-content .nav-tabs>li{
  margin-bottom: 0;
}
.webdev-content .nav-tabs>li>a{
   border:0;
  border-radius: 0;
  border-bottom: 4px solid transparent;
}
.webdev-content .nav-tabs>li.active>a, .webdev-content .nav-tabs>li.active>a:focus, .webdev-content .nav-tabs>li.active>a:hover{
  border:0;
  border-radius: 0;
  border-bottom: 4px solid #111;
}
.from-province{
  margin-top: 10px;

}
.reg-form{
  margin-top:30px;
}
.daftarlandingpage .footer-banner-cont{
  display: none;
}
.registerbtn a{
  padding: 10px 30px;
  color: #fff; 

}

.daftar-company-btn.registerbtn a{
  background: #2789f8;
}
.daftar-webdev-btn.registerbtn a{
 background: #5abed7;
}
.registerbtn a:hover{
  background:#666;
}
.daftarlandingpage .banner-caption{
  margin-top: 300px;
}
.daftarlandingpage .banner-caption h2{
  color: #fff;
  font-weight: normal;
  margin-bottom: 25px;
  line-height: 30px;
}
.daftarlandingpage .main-banner-cont{
  background-image: url(../img/register-bg.jpg);
  background-size: cover;
  margin-top:-50px;
  padding:0;
}
.job-detail-info div{
  margin-bottom: 5px;
}
.content-container{
  /* padding-top: 30px; */
}
.membermenu ul li.login-btn-cont{
  padding:0;
}
li.login-btn-cont .login-button{
      padding: 10px 20px;
      background:transparent!important;
      border:0;
      color: #fff;
      outline: none;
 
  }
li.login-btn-cont .login-button:before{
      content: "\f2be";
        font: normal normal normal 14px/1 FontAwesome;
         font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;

}
li.login-btn-cont .logout-button{
      padding: 10px 20px;
      background:transparent!important;
      border:0;
      color: #fff;
      outline: none;
 
  }
li.login-btn-cont .logout-button:before{
      content: "\f023";
        font: normal normal normal 14px/1 FontAwesome;
         font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;

}
body .form-group .inputtext-login{
  border:1px solid #ececec;
  background:#fff !important;
  padding:5px 10px;
  display: block;
  width: 100%;
}
.login-modal .form-group{
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 5px
}
.login-modal button{
 
  background:#467cc5;
  color: #fff;
  padding:10px 20px;
  margin-top: 10px;
}
.login-modal .close, .projectdetail .close{
  position: absolute;
  display: block;
  color: #fff;
  border:1px solid #111;
  right: -20px;
  top: -20px;
  background:#111 !important;
  filter: alpha(opacity=100);
    opacity: 1;
    padding:2px 10px;
    border-radius: 30px;
    line-height: normal;

}
.sidebar-container .membermenu{
  margin:0;
  padding:0;
  display: block;
}
.sidebar-container .membermenu li{
  display: block;
}
.sidebar-container .membermenu li a{
  padding:10px 10px;
  border-bottom: 1px solid #ccc;
  display: block;
}
.project-filter .row>div.col-sm-12, .job-filter .row>div.col-sm-12{
  margin-top: 10px;
}
.termcondition-content *{
  font-size: 12px;
}
ol.listcase , ol.listcase ol.reset {
  counter-reset: item
}
ol.listcase ol{
 
}
ol.listcase li {
 
  font-size:12px;
  padding-bottom: 10px;
  padding-left: 20px;
  position: relative;

}
ol.listcase   li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
   margin-left: -20px;
}
ol.reset   li:before {
  content: '';
  margin-left: 0;
   }
 ol.reset  li{  
    list-style-type:decimal;
    margin-left:20px;
    padding-left:0px;
 }
ol.reset.roman li{
   list-style-type: upper-roman;
   margin-left: 20px;
   padding-left: 00px;
}
ul.standard-list{
  margin-left: 20px;
}
ul.standard-list li{
  list-style-type:  disc;
}
.faq-content-container {
  margin-top: 30px;
}
#accordion .card-header{
  background:#ececec;
}
#accordion .card{
  margin-bottom: 2px;
}
.card-header button{
  display: block;
  width: 100%;
  text-align: left;
}
.card-body{
  padding:15px;
}
.karir-text{
  margin-top: 20px;
  padding: 15px;
  background:#f3f3f3;
}
.emptyreturn{
  font-size: 18px;
 font-style: italic;
 color: #666;
 margin-top: 30px
}
#projectmodal , #myModal{
  z-index: 9999999;
}
.modal{
  background: rgba(1,1,1,0.5);
}
.modal-backdrop{
  display: none;
}
.desc-text{
  font-size: 12px;
  color: #999;
  font-style: italic;
  display: block;
  padding-top: 10px;
}
span.icon-container{
      padding: 4px;
     
   
    border-radius: 20px;
    width: 27px;
    display: inline-block;
    text-align: center;
    margin-bottom: 3px;
    font-size: 12px;
        border: 1px solid #999;
        color: #666;
}
.capitalize {
  text-transform: lowercase;
  display: inline-block;
}

.capitalize:first-letter {
  text-transform: uppercase
}
/*li {
  color: #999;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  display: block;"
}*/

.modal.portfolio-img .modal-content{
  width: 50%;
  padding: 0;
}
.modal.portfolio-img .close{
    color: #fff;
    background: #D33C44;
    padding: 0px 6px;
    border-radius: 30px;
    position: absolute;
    top: -21px;
    margin-right: -40px;
    text-shadow: none;
    opacity: 1;
    font-weight: normal;
}
.companytype .checkbox{
  margin-top: 0;
  margin-bottom: 5px;
}
.companytype .checkbox{
  font-size: 12px;
}
.latestadded-cont ul.pagination li, .project-list ul.pagination li, .job-container ul.pagination li{
  position: relative;

}
.latestadded-cont ul.pagination li a, .project-list ul.pagination li a, .job-container ul.pagination li a{
  font-weight: normal;
  font-size: 14px;
  
}
.latestadded-cont ul.pagination li.active a, .project-list ul.pagination li.active a, .job-container ul.pagination li.active a{
  border:1px solid #ddd;
  }
.homepage-content.content-container{
  margin-top: 60px;
}

/* responive */
    @media (min-width: 768px) {
      .col-sm-5ths {
        width: 20%;
        float: left;
      }
    }

    @media (min-width: 992px) {
      .col-md-5ths {
        width: 20%;
        float: left;
      }
    }

    @media (min-width: 1200px) {
      .col-lg-5ths {
        width: 20%;
        float: left;
      }
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }
    @media only screen and (max-width : 1024px) {
     
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
     .navbar .navbar-collapse.collapse {
     display: none !important; 
    }
    .navbar .navbar-collapse.collapse.in {
     display: block !important; 
    }
    .hidden-sm {
      display: none;
    }
    .show-sm{
      display: block;
    }
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
      header{
        position: static;
        padding:0;
      }
      header .navbar ul li a{
        color: #444;
      }
      header .membermenu  ul li a{
        color: #fff;
      }
      header .navbar{
        margin-top: 0;
      }
      .banner-caption{
        margin-top:50px;
        width: 90%;
      }
      .main-banner-color{
        min-height: 300px;
        padding-bottom: 30px;
      }
      .banner-caption h1{
        font-size: 20px;
        line-height: normal;
      }
      .banner-menu-container a{
        font-size: 14px;
        line-height: normal;
        display: inline-block;
      }
      .banner-menu-container li{
       margin-bottom: 10px;
      }
     .main-banner-cont{
      margin:0;
     }
      .staticpage-banner-cont{
        margin:20px 0 0 0 ;
      }
      .search-box{
      padding:0px;
     }
     .search-box fieldset:nth-child(2) .col-sm-4{
      margin-bottom: 10px
     }
     .search-box .row > div{
      margin-bottom: 10px;
     }
      .navbar {
        text-align: center;
      }
     .navbar-header{
      position: absolute;
      top: 0px;
      z-index: 99;
      right: 0;
     }
     .navbar-toggle .icon-bar{
      background:#fff;
     }
     .navbar{
      min-height: auto;
     }
    .navbar-nav{
      width: 100%;
      margin:0;
     }
     .company-item{
      margin-bottom: 20px;
     }
     .wevdev-header .detailnews-img img{
      padding: 10px;
    margin-bottom: 10px;
     }
     .lastaddcomp-item{
      padding:15px 0 10px;
     }
     .lastaddcomp-item .company-info, .lastaddcomp-item .catlist{
        padding-top:0px;
      }
      .lastaddcomp-item .catlist{
        margin-top: 10px;
        text-align: left;
        padding:7px 0;
      }
      .lastaddcomp-item .logo-company-cont {
        margin-bottom: 5px
      }
      .ads-container {
        text-align: center;
      }
      .ads-container a{
        display: inline-block;
      }
      .bottom-footer .row >div{
        margin-bottom: 20px;
      }
      .navbar-toggle{
        background-color: #7da11e;
      }
      .categori-list-cont{
        text-align: center;
      }
      .categori-list .category-item{
        float: none;
        display: inline-block;
        width:49%;
        vertical-align: top;
      }
      .content-container .col-sm-9{
        margin-bottom: 20px;
      }
      .footer-button {
        text-align: center;
      }
      section.content-container{
        padding-top: 0;
      }
       .webdev-data>.row{
        margin-bottom: 10px;
       }
      .webdev-data   .row >  .col-sm-3{
        font-weight: bold;line-height: normal;
      }
      .homepage-content.content-container{
        margin-top: 30px;
      }
      a.project-detail-link, a.job-detail-link{
        padding:20px 0;
      }

      .footer-banner {
        font-size: 22px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        padding: 70px 0px 50px 0;
        line-height: 38px;
        }
        .footer-menu-cont{
          padding-top: 0;
        }
        .footer-menu-cont h3.footer-title{
          margin-top: 30px;
          margin-bottom: 10px;
        }
        .footer-menu-cont *{
          font-size: 13px;
        }
        .news-thumb {
          margin-bottom: 10px;
        }
        .filter-container{
          margin-top: 20px;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
