.navbar-header>img {
  display:block;
}

.navbar-header>a {
  display:block;
  color: #46BA95;
}


.header-home {

  background-image: url(../img/emerald_logo.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff
}

.button-search {
  width: 100%; 
  background-color: #46BA95; 
  border-color: #46BA95;
  color: #fff;
}

.button-search:hover {
  color: #fff;
}

hr.below {
  width: 100%;
display: block;
height: 1px;
border: none;
border-bottom: 1px solid #46BA95;
overflow: hidden;
float: none;
clear: both;
}