.judul-toko {
    background: #15848F;
    font-size: 27px;
    padding: 15px 20px;
}

.judul-toko h1 {
    color: #FFF;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  margin :0 ;
}

.menu-layanan{
    background-color: #c5d1a4;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.welcome {
        color: #d4465f;
    font-size: 27px;
    padding: 0 20px;
    text-align: center;
}

.welcome button {
  display: inline-block;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  background-color: #2199e8;
  color: #fefefe;
}

.welcome a.button {
   display: inline-block;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 30px;
  background-color: #2199e8;
  color: #fefefe;
}
.welcome a.button:hover{
    color: #B0C1D3;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.welcome a.button:active {
    color: #000;
    border-color: #444;
}

.button-menu-layanan {
    background-color:#AB8024; 
    height: auto; 
    width:200px; 
    font-size:20px; 
    text-align:center;
}


