.nav-tabs-custom>.nav-tabs>li.active {
	border-top-color: #00a65a;
}
.badge {
	background-color: #00a65a;
}
.form-control:focus {
	border-color: #00a65a;
}
html, body, .wrapper{
  height: 100% !important;

}
.background-message{
	background: rgba(1,1,1,0.4);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.message{
	width:300px;

	color: #222;
	margin:200px auto 0;
	position: static;
	background: #fff;
	border-radius: 3px;
	padding:30px;
	overflow: hidden;
 	text-align: center;
}
.content-profile dl dt, .content-profile dl dd  {
	line-height: normal;
	padding:5px 0;	
}
.project-content {
	margin-bottom: 10px;
}
.content-profile dt:last-child, .content-profile dd:last-child{
	border:none;
}
.addportfolio-cont{
	background: #ececec;
}
.addportfolio-cont h3.box-title{
	margin:0;
	padding: 10px 30px;
}
.input-projectname{
	width: 100%;
}
.form-container .form-group{
	padding: 0 20px;
}
.content-conteiner dl > dt, .content-conteiner dl > dd{
	padding-bottom: 10px;
}
.file-uploader>div{
	margin-bottom: 10px;
}
.item-file {
	padding:0;
	margin:0;
}
.item-file li,.cat-list li,.fileupload-list li{
	list-style: none;
	padding:0;
	margin:0;
}
 
.cat-list, .fileupload-list {
	margin:0;
	padding:0;
}
.cat-list li{ 
	width: 48%;
	display: inline-block;
	vertical-align: top;
	min-height: 30px;

}
.fileupload-list li{
	margin-bottom: 5px;
}
.file-uploder-input > div{
	margin-bottom: 5px;
}
#dynamic_field >div{
	margin-bottom: 10px;
}
#dynamic_field_1 >div{
	margin-bottom: 10px;
}