
@-webkit-viewport { width: device-width; }section .page-title-container h1.page-title
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
@charset "UTF-8";
/**
CSS Reset
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;

}
 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section 
{
    display: block;
}
ol, ul {
    list-style: none;
}
a:hover{
	text-decoration:none;
}
dfn, em {
  font-style: italic!important;
}
strong{
    font-weight: 700!important;
}
.row.no-gap{
  margin:0;
}
.no-gap [class*="-1"],
.no-gap [class*="-6"],
.no-gap [class*="-8"],
.no-gap [class*="-3"],
.no-gap [class*="-5"],
.no-gap [class*="-9"],
.no-gap [class*="-2"],
.no-gap [class*="-10"],
.no-gap [class*="-4"],
.no-gap [class*="-12"]{
	padding-left:0;
    padding-right:0;
}
.row.small-gap{
  margin:0 -5px;
}
.small-gap [class*="-1"],
.small-gap [class*="-6"],
.small-gap [class*="-8"],
.small-gap [class*="-3"],
.small-gap [class*="-5"],
.small-gap [class*="-9"],
.small-gap [class*="-2"],
.small-gap [class*="-10"],
.small-gap [class*="-4"],
.small-gap [class*="-12"]{
  padding-left:5px;
    padding-right:5px;
}
div, p, li{
     font-size: 14px;

}
p{margin-bottom: 20px;
}
p:last-child{
  margin-bottom: 0;
}
h1, h2, h3, h4{
  font-weight: bold;
  margin-bottom: 15px;

 color: #111;
}
h1{
  font-size: 36px;
  margin:0px 0;   
}
h2{
  font-size: 24px;
  font-weight: 300;
}
h1 span{
  color: #7da11e;
}
img.pright{
  float:right;
  margin:0 0 30px 30px;
}
html, body{
  height: 100%;
}
header{
  border-bottom: 1px solid #ccc;
  padding:10px 0
}
header .nav.navbar-nav{
  float: right;
  padding-top: 0px;
}
header .navbar{
  margin-bottom: 0;
}
header .nav li{
  padding: 0 20px 
}
header .nav li a{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  padding:20px 0 5px 0;
  cursor: pointer;
  cursor: hand;
  display: block;

}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.catlist{
  text-align: center;
}
.catlist a.item-cat{
  border-radius: 5px;
  font-size: 12px;
  background:#ececec;
  padding: 3px 5px;
  display: inline-block;
  color: #fff
}
.item-cat.webdev{
  background:#7da11e !important;
}
.item-cat.webdes{
  background:#467cc5 !important;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
header .nav li a:hover, header .nav li.active a{
 /* border-bottom: 4px solid #7da11e;*/
  background:none;
  }
.navbar-nav>li>.dropdown-menu{
  /*border-top: 5px solid #7da11e;*/
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background: none;
  border:0;
}
header .dropdown-item {
  padding:0 !important;
}
header .dropdown-item a{
  padding:10px 10px !important;
  }
header .dropdown-item a:hover{
  border:0 !important;
  background: #f4f4f4 !important;
}
section{
  margin-top: 30px;
}

.slide-item{
  padding:0 15px;
}

.top5ompany-cont {
  padding-top: 30px;
}
.slick-prev:before, .slick-next:before {
    font:normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .slick-prev{
  left: -10px;
 }
 .slick-next{
   right: -10px;
 }
 .slick-prev:before {
    content: '\f053';
    
}
.slick-next:before {
    content: '\f054';
   
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.navbar{
  text-align:right;
}
.navbar .navbar-collapse.collapse {
  display: inline-block !important;
  vertical-align: top;
}
.mainmenu{
  margin-top: 10px;
}
.membermenu {
  display: inline-block;
  vertical-align: top;
}
.membermenu ul li{
  display: inline-block;
  background: rgba(0,0,0,0.5);
  padding:10px  20px;
  margin-left: 20px;
}

.membermenu ul li a{
  color: #fff;
}
.main-banner-cont{
  background-image: url(../img/sliderimg-1.jpg);

  background-size: cover;

  margin-top:-50px;
  padding:0;
}
.main-banner-color{
   background: rgba(1,1,1,0.4);
     min-height: 500px;
}
.client-mode header{
  position: absolute;
  top: 0;
  left:0;
  right: 0;
}
.banner-caption{
  width:80%;
  text-align: center;
  margin:200px auto 0;
}
.banner-caption h1{
  font-size: 36px;
  color: #fff;
  line-height: 48px;
}
.banner-menu-container{
  margin-top: 20px;
}
.banner-menu-container ul {
  margin:0;
}
.banner-menu-container ul li{
  display: inline-block;
  padding: 0 10px;
}
.banner-menu-container a{
  padding:10px 20px; 
  color: #fff;
  font-size: 18px;
}
.banner-menu-container a:hover{
  color: #fff;
} 
.banner-menu-container .search-webdev a{
  background: #2789f8;
}
.banner-menu-container .register-webdev a{
  background: #5abed7;
}
.border{
    width: 150px;
    border-bottom: 5px solid #fff;
    margin: 20px auto 0;
}
.titleborder{
  width: 50px;
  height: 10px;
  background:#2789f8;

}
.category-item{
  margin-top: 20px;
  float: left;
  padding:10px 0px;
  border:1px solid #ececec;
  text-align: center;
  width: 284px;

}
header .nav li{
  padding: 0 2px;
}
header .nav li a{
  padding:10px 10px;
}
.categori-list a{
  display: block;
  padding: 10px  0;
}
.icon-cat{
    display: inline-block;
    font: normal normal normal 24px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    padding: 25px;
    background: #111;
    border-radius: 50px;
    color: #fff;
}
.icon-cat.webdesign:before{
  content: "\f247";
}
.icon-cat.websystem:before{
  content: "\f121";
}
.icon-cat.webapplication:before{
  content: "\f2d0";
}
.icon-cat.digitalmarketing:before{
  content: "\f1fe";
}
.category-name {
  font-size: 18px;
  font-weight: 300;
  padding-top: 10px;
}

/*company lish*/
.lastaddcomp-item{
  padding:30px 0;
  border-top:1px solid #cccccc;
}
h3.company-name{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.company-address{
  margin-bottom: 10px;
}
.company-info ul {
  margin:0;
  padding:0;
}
.company-info ul li{
  display: inline-block;
margin-right: 20px;
}
.sidebaritem.news-container{
  padding-top:30px;
}
.sidebaritem  .news-container h2{
  font-weight: 500;
}
.sidebaritem  .news-list{
  padding-top: 20px;
}
.sidebaritem .news-item{
  position: relative;
  margin-bottom: 15px;
  border-bottom: 1px solid #f8f8f8;
  padding-bottom: 20px;

}
 .logo-company-cont img{
  width: 95px;

 }
.sidebaritem  .news-item:last-child{
  border-bottom: 0;
}
.sidebaritem  .news-item .news-thumb{
  display: inline-block;
  width:85px;
  position: absolute;
  top:0;
}
.sidebaritem  .news-item .news-title{
  display: inline-block;
  padding-left:100px;
}
.sidebaritem  .news-item .news-title h3{
  font-size: 14px;
  font-weight: 500;
  }
.sidebaritem .news-title .metadata{
  font-size: 12px;
  color: #2789f8;
}
.project-container, .vacancy-container{
  margin-top: 20px;
}
.sidebaritem .vacancy-title, .sidebaritem .project-title{
  font-size:18px;
  font-weight: 600;
  margin-top: 10px;
}
.sidebaritem .vacancy-content>div{
  margin-top: 6px;
}
.sidebar-btn{
  margin-top:10px;
  background: #2789f8;
  color: #fff;
}
.footer-banner-cont {
  background: url(../img/footer-banner.jpg);
  background-size: cover;
}
.footer-banner{
  font-size: 30px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  padding:100px 0;
  line-height: 48px;
}
.footer-button {
  background: #2789f8;

  color: #fff;
  padding: 30px 0;
}
.footer-button *{
      font-size: 18px;
}
.footer-button a{
  padding:10px 20px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  display: block;
  text-align: center;
  border-radius: 5px;
  border:1px solid #fff;
}
.footer-menu-cont{
  background: url(../img/footer-menu.jpg);
  background-size: cover;
  padding: 30px 0;
}
.footer-menu-cont *{
  color: #fff;
}
.footer-menu-cont h3.footer-title{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer-menu-cont ul li{
  border-bottom: 1px dashed #fff;
  padding:6px 0;
}
.footer-copyright{
  padding:15px 0;
  background: #000000;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

footer-copyright
/* responive */
    @media (min-width: 768px) {
      .col-sm-5ths {
        width: 20%;
        float: left;
      }
    }

    @media (min-width: 992px) {
      .col-md-5ths {
        width: 20%;
        float: left;
      }
    }

    @media (min-width: 1200px) {
      .col-lg-5ths {
        width: 20%;
        float: left;
      }
    }
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }
    @media only screen and (max-width : 1024px) {
     
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
     
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
     .search-box{
      padding:50px 20px;
     }
     .search-box fieldset:nth-child(2) .col-sm-4{
      margin-bottom: 10px

     }
 
     .navbar-header{
      position: absolute;
      top: 0px;
      z-index: 99;
      right: 0;
     }
     .navbar-toggle .icon-bar{
      background:#fff;
     }
     .navbar{
      min-height: auto;
     }
    .navbar-nav{
      width: 100%;
      margin:0;
     }
     .company-item{
      margin-bottom: 20px;
     }

     .lastaddcomp-item .company-info, .lastaddcomp-item .catlist{
        padding-top:0px;
      }
      .lastaddcomp-item .catlist{
        margin-top: 10px;
        text-align: left;
        padding:7px 0;
      }
      .ads-container {
        text-align: center;
      }
      .ads-container a{
        display: inline-block;
      }
      .bottom-footer .row >div{
        margin-bottom: 20px;
      }
      .navbar-toggle{
        background-color: #7da11e;
      }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
