<?php
$class = 'message';
if (!empty($params['class'])) {
    $class .= ' ' . $params['class'];
}
if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
}
?>
<div class="background-message"  onclick="this.classList.add('hidden');">

<div class="<?= h($class) ?>" onclick="this.classList.add('hidden');"><?= $message ?></div>
</div>