<?php
if ($key==null) echo "<option value=\"\">Kota</option>";
  foreach($types as $i):
    if($i->id==$key) echo "<option value=\"".$i->id."\" selected>".$i->id."</option>";
      else echo "<option value=\"".$i->id."\">".$i->name."</option>";
  endforeach;
?>