	<hr class = "below">
    	<div class = "col-md-12">
    		<p class="footer">
        	PT. Tabasta Property adalah perusahaan yang bergerak dalam bidang agen properti. Kami berkomitmen untuk memberikan pelayanan terbaik dalam jual, beli maupun sewa properti di seluruh Indonesia. Anda dapat mencari properti yang sesuai dengan kebutuhan Anda maupun yang sesuai dengan anggaran yang Anda miliki. Anda pun dapat menjual properti Anda melalui kami dan kami akan membantu memasarkannya. Tunggu apa lagi? Segera hubungi kami. Kami akan dengan senang hati melayani kebutuhan properti Anda.
    		</p>
    	</div>
